*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
 

.cotainner{

    max-width: 1000px;
    margin:0 auto

   
}

.cotainner{
         

    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.logo { 
    display: flex;
    padding: 5px;




}

.menu{   
    padding: 20px;
   
   
}
   
.menu ul {

 display: flex; 
 gap: 32px; 

      
}
.menu ul li {
    list-style-type: none;  

    
}
.menu ul li a {
    text-decoration: none; 
    position: relative;
    background-color: transparent;
    transition: color 400ms;
    color: gray;
    font-size: 18px;

    
}
.menu ul li a::before {

content: "";
position: absolute;
inset: 0;
display: inline-block;
background-color: #121212;
transform: scale(0);
z-index: -1;
transition: transform 100ms;


}
.menu ul li a:hover{

    color: black;
}


  .timeplanner{

    color: #FF5A06;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    margin-left: 15px;
    top: 10px;
    display: flex;
    justify-content: space-between
    

} 


.contractus{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
   

}
.separator{
    width: 1px;
    height: 20px;
    background-color: black;

}
    
 

.signup{

    /* color: #FF5A06;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    top: 10px;  */



}


